{% extends 'base_manager.html' %}
{% block main_content %}


<div class="row m-2">
    {% if public_page %}
        <div>
            <h1>View All Restaurants</h1>
        </div>
    {% else %}
        <div>
            <h1>My Restaurants</h1>
            <a class="btn btn-primary" href="{% url 'restaurants_create' %}">Add Restaurant</a>
        </div>
    {% endif %}
</div>
<div class="row m-2">
    {% for restaurant in restaurants %}
        <div class="card" style="width: 50rem;">
            <div class="row">
                <div class="col-md-3 pt-4">
                    <img src="{{ restaurant.profile_pic }}" class="card-img-top" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <table class="table table-borderless p-0">
                            <thead>
                                <tr>
                                    <th colspan="2"><h5 class="card-title">{{ restaurant.name }}</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="col-md-2"><p class="card-text">Location:</p></th>
                                    <td><p class="card-text"> {{ restaurant.location }}</p></td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Hours:</th>
                                    <td><p class="card-text"> {{ restaurant.hours|linebreaksbr }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                        {% if public_page %}
                            <a class="btn btn-success" href="{% url 'all_restaurants_detail' restaurant.id %}">Detail</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'restaurants_detail' restaurant.id %}">Detail</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}